@model IEnumerable<Inmo.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}


    <div class="card card-primary">
        <div class="card-header">
            <a asp-action="Create" class="btn btn-secondary float-left">
                <i class="fas fa-plus-circle">
                </i> Agregar Contrato
            </a>

            <form class="form-inline ml-3" action="/Contrato/vigentes">
                <div class="input-group input-group-sm">
                    <input name="inicio" class="form-control form-control-navbar ml-3" type="date" placeholder="desde" aria-label="Search">

                </div>
                <div class="input-group input-group-sm">
                    <input name="fin" class="form-control form-control-navbar ml-3" type="date" placeholder="hasta" aria-label="Search">

                </div>
                <input type="submit" value="Buscar" class="btn btn-secondary ml-3">
            </form>


            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <table id="tabla" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                    <tr>


                        <th> Dirección Inmueble
                        </th>
                        <th>Nombre Inquilino
                        </th>
                        <th>@Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th> @Html.DisplayNameFor(model => model.FechaFin)
                        </th>


                        <th>@Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inquilino.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFin)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Details", "Contrato", new { id = item.Id })">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("Renovar", "Contrato", new { id = item.Id })">
                                    <i class="fas fa-redo-alt"></i>
                                </a>


                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Inmueble.Direccion)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Inquilino.Nombre)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.FechaFin)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            
        </div>
    </div>







@section Scripts {


   


}