@model Inmo.Models.Inmueble


    <div class="row">
        <div class="col-md-12 col-lg-6  mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h6>Crear Nuevo Inmueble</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="card-body">
                                <!--Aca va el form -->
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label" hidden></label>
                                        <input asp-for="Id" class="form-control" hidden />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PropietarioId" class="control-label"></label>
                                        <select asp-for="PropietarioId" class="form-control" id="select">

                                            @foreach (var item in ViewBag.lista)
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }


                                        </select>
                                        <span asp-validation-for="PropietarioId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Direccion" class="control-label"></label>
                                        <input asp-for="Direccion" class="form-control" />
                                        <span asp-validation-for="Direccion" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ambientes" class="control-label"></label>
                                        <input asp-for="Ambientes" class="form-control" />
                                        <span asp-validation-for="Ambientes" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Uso" class="control-label"></label>
                                        @*<input asp-for="PropietarioId" class="form-control" />*@
                                        <select asp-for="Uso" class="form-control seleccion">

                                            @foreach (var item in (List<Estados>)ViewBag.Usos)
                                            {

                                                if (Model.Uso == item.estado)
                                                {
                                                    <option value="@item.id" selected>@item.estado</option>

                                                }
                                                else
                                                {
                                                    <option value="@item.id">@item.estado</option>

                                                }


                                            }


                                        </select>
                                        <span asp-validation-for="Uso" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Tipo" class="control-label"></label>

                                        <select asp-for="Tipo" class="form-control seleccion">

                                            @foreach (var item in ViewBag.Tipos)
                                            {
                                                if (Model.Tipo == item.estado)
                                                {
                                                    <option value="@item.id" selected>@item.estado</option>

                                                }
                                                else
                                                {
                                                    <option value="@item.id">@item.estado</option>

                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Tipo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Precio" class="control-label"></label>
                                        <input asp-for="Precio" class="form-control" />
                                        <span asp-validation-for="Precio" class="text-danger"></span>
                                    </div>

                                    <div class="form-group form-check">
                                        <label class="form-check-label">

                                            @if (Model.Disponible.Equals(1))
                                            {
                                                <input class="form-check-input" asp-for="Disponible" checked /> @Html.DisplayNameFor(model => model.Disponible)
                                            }
                                            else
                                            {
                                                <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                                            }


                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a asp-action="Index">Regresar a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>














@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
