@model Inmo.Models.Inquilino

@{
    ViewData["Title"] = "Informacion";
}



    <div class="row">
        <div class="col-md-12 col-lg-6  mx-auto">


            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Propietario</h3>
                </div>

                <!-- aca inicia el form !-->
                <div class="card-body">

                    <div>

                        <dl class="row">


                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Nombre)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Apellido)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Apellido)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Dni)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Dni)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Telefono)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Telefono)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LugarTrabajo)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.LugarTrabajo)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Estado)
                            </dt>
                            <dd 9">
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                        </dl>

                    </div>

                </div>
                <!-- /.card-body -->


                <div class="card-footer">
                    <div class="form-group">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
                        <a asp-action="Index" class="btn btn-dark">regresar a la lista</a>
                    </div>
                </div>
                <!-- aca inicia el form !-->
            </div>

        </div>
    </div>