@model IEnumerable<Inmo.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Inquilino</a>
</p>
<table class="table" id="tabla" style="width:100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Inquilino", new { id = item.Id })">
                        <i class="fi-xnluxl-info"></i>

                    </a>
                    <a class="btn btn-warning" href="@Url.Action("Edit", "Inquilino", new { id = item.Id })">
                        <i class="fi-xnluxl-pen-solid"></i>
                    </a>
                    <a class="btn btn-success" href="@Url.Action("MisContratos", "Inquilino", new { id = item.Id })">
                        <i class="fi-xnluxl-home"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>

        $("body > div").removeClass("container");
        $("body > div").addClass("container-fluid");
    </script>


}