@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.Disponibles</h3>

                <p>
                    Disponibles
                </p>
            </div>
            <div class="icon">
                <i class="fas fa-home"></i>
            </div>
            <a href="#" class="small-box-footer statDisponible">Mas info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.Total<sup style="font-size: 20px"></sup></h3>

                <p>Inmuebles alquilados</p>
            </div>
            <div class="icon">
                <i class="fas fa-store-alt"></i>
            </div>
            <a href="#" class="small-box-footer statAlquilados">Mas info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.Caja</h3>

                <p>Caja diaria</p>
            </div>
            <div class="icon">
                <i class="fas fa-cash-register"></i>
            </div>
            <a href="#" class="small-box-footer">Mas info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.Vencidos</h3>

                <p>Pagos vencidos</p>
            </div>
            <div class="icon">
                <i class="fas fa-fire"></i>
            </div>
            <a href="#" class="small-box-footer">Mas info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>




<div id="listado" class="listado">

</div>

@section Scripts {

    <script>
        $(document).ready(function () {

            $("#Home").addClass("active");

            $(".statDisponible").click(function (e) {
                e.preventDefault()
                $.ajax({
                    url: "@Url.Action("Disponibles", "Home")",
                    type: "GET",
                    
                    error: function (response) {
                        console.log("Fallo: ");
                    },
                    success: function (response) {
                        console.log("Exito!");
                        
                        $("#listado").html(response).fadeIn(2000);
                    }
                });
            })




            $(".test").click(function (e) {
                e.preventDefault()
                $.ajax({
                    url: "@Url.Action("Alquilados", "Home")",
                    type: "GET",
                    
                    error: function (response) {
                        console.log("Fallo: ");
                    },
                    success: function (response) {
                        console.log("Exito!");
                        
                        $("#listado").html(response).fadeIn(2000);
                    }
                });
            })




        });
    </script>

}