@model IEnumerable<Inmo.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}


    <div class="card card-primary">
        <div class="card-header">
            <a asp-action="Create" class="btn btn-secondary float-left"><i class="fas fa-plus-circle">
</i> Agregar Usuario</a>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <table id="tabla" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Mail)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.RolId)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Mail)
                            </td>


                            <td>
                                @RolesData.getById(item.RolId).Nombre
                            </td>

                            <td>
                                <div class="btn-group-sm">
                                    <a class="btn btn-primary" href="@Url.Action("Details", "Usuario", new { id = item.Id })">
                                        <i class="fas fa-eye">
                                        </i>


                                    </a>
                                    <a class="btn btn-info" href="@Url.Action("Edit", "Usuario", new { id = item.Id })">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>


                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Usuario", new { id = item.Id })">
                                        <i class="fas fa-trash">
                                        </i>

                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        
                        <th>@Html.DisplayNameFor(model => model.Mail)</th>
                        <th>@Html.DisplayNameFor(model => model.RolId)</th>

                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
           
        </div>
    </div>

