@model IEnumerable<Inmo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RolId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.RolId)
            </td>
            
            <td>
                <a class="btn btn-primary" href="@Url.Action("Details", "Usuario", new { id = item.Id })">
                    <i class="fi-xnluxl-info"></i>

                </a>
                <a class="btn btn-warning" href="@Url.Action("Edit", "Usuario", new { id = item.Id })">
                    <i class="fi-xnluxl-pen-solid"></i>
                </a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Usuario", new { id = item.Id })">
                    <i class="fi-xnluxl-pen-solid"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
