@model IEnumerable<Inmo.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<h1>Pagos</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Details", "Pago", new { id = item.Id })">
                    <i class="fi-xnluxl-info"></i>

                </a>
                <a class="btn btn-warning" href="@Url.Action("Edit", "Pago", new { id = item.Id })">
                    <i class="fi-xnluxl-pen-solid"></i>
                </a>
                <a class="btn btn-success" href="@Url.Action("Delete", "Pago", new { id = item.Id })">
                    <i class="fi-xnluxl-home"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
